*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
gradle/
.idea/
gradle.properties
gradlew
gradlew.bat
settings.gradle
app/src/androidTest/
app/src/test/
untitledev_module/build/
untitledev_module/src/androidTest/
untitledev_module/src/test/
untitledev_module/src/main/assets/config.properties